.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #dbdce2;
  padding: 16px;
  color: #878787;

  border-radius: 4px;
  color: rgb(135, 135, 135);
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather .temperature {
  font-weight: bold;
  color: rgb(35, 35, 35);
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.Weather .weather-temperature {
  display: flex;
  align-items: center;
}

.Weather .weather-temperature img {
  width: 64px;
  height: 64px;
  margin-right: 8px;
}
.Weather .units {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1px;
  top: -16px;
  margin-left: 1px;
}
